/* theinfinitealbum.com */

@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

@font-face {
    font-family: "Fira Code";
    src: url('https://disuye.com/fonts/FiraCode-VariableFont_wght.woff2') format('woff2-variations'),
     	 url('https://disuye.com/fonts/FiraCode-VariableFont_wght.ttf') format('truetype-variations');
	font-weight: 100 200 300 400 500 600 700 800 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --id-color: #FFFFFF;
    --base:rgb(0 0 0);
    --primary:rgba(0,0,0,1.0);
    --secondary:rgba(255,255,255,0.8);
    --transparent: rgba(0,0,0,0);
    --font: "Fira Code", monospace;
    --recenter: translate(-50%, -50%) rotateZ(0deg);
    --fade: fadeIn 1.0s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    70% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    70% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    70% {opacity: 0;}
    100% {opacity: 1;}
}
@-o-keyframes fadeIn {
    0% {opacity: 0;}
    70% {opacity: 0;}
    100% {opacity: 1;}
}
@-ms-keyframes fadeIn {
    0% {opacity: 0;}
    70% {opacity: 0;}
    100% {opacity: 1;}
}
body {
    width: 100vw;
    position: fixed;
    left:0; top:0;
    min-width: 400px !important;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    color: var(--secondary) !important;
    background-color: var(--primary);
    font-size: 1.0rem !important;
    text-rendering: geometricPrecision;
    overflow-x: hidden;
    zoom: 100%;
    animation: var(--fade);
    -webkit-animation: var(--fade);
    -moz-animation: var(--fade);
    -o-animation: var(--fade);
    -ms-animation: var(--fade);
}
*[id*='-show'],
.show-text {
    min-width: 270px !important;
    min-height: 4.0rem;
}
h1, h2, h3, h4 {
    font-family: 'Unica One';
    font-weight: 200;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-left:-1.0rem;
}
h1 {
    color: var(--id-color);
}
#bg {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    opacity: 1.0;
    position: absolute;
    display: block;
    top: 0;
    background-color: var(--base);
    background: url('../../assets/images/blur.png') fixed top center no-repeat;
    background-size: 100% 300px;
    cursor: default;
}
body:has(*[id*='-show']:target) #flipped {
    opacity: 0.7;
    -webkit-filter: blur(3px) grayscale(1.0);
    filter: blur(3px) grayscale(1.0);
    transition-property: filter, -webkit-filter, opacity;
    transition-duration: 0.3s;
    transition-timing-function:ease-in-out;
}
 #bg {
    opacity: 1.0;
    -webkit-filter: blur(0px) grayscale(0.0);
    filter: blur(0px) grayscale(0.0);
    transition-property: filter, -webkit-filter, opacity;
    transition-duration: 1.0s;
    transition-timing-function: ease-in-out;
}
.header {
    display: block;
    width: calc(100vw - 1.0rem);
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 9998;
    text-align: center;
}
#menu {
    font-size: 0; /* allows inline-block without div gaps */
}
#menu a,
#menu a:active {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.9em 0.5rem 0.9em;
    margin: 0;
    color: var(--secondary);
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0.3s all ease-in-out;
    font-family: "Unica One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-style: normal;
    font-weight: 300;
    font-size: 0.8rem;
}
#menu a:hover {
    padding: 0.5rem 0.9em 0.5rem 0.9em;
    background-color: rgba(0, 0, 0, 0.12);
    color: var(--id-color);
    transition: 0.15s all ease-in-out;
}
.bracket:after,
.bracket:hover:after{
  content: ']';
}

.bracket:before,
.bracket:hover:before {
  content: '[';
}

.bracket:before,
.bracket:after {
    opacity: 0.0;
    transition: opacity 0.5s cubic-bezier( 0.19, 1, 0.22, 1);
}

.bracket:hover:after,
.bracket:hover:before {
    opacity: 1.0;
    transition: opacity 0.5s cubic-bezier( 0.19, 1, 0.22, 1);
}

*[id*='-show'] .close,
#hamburger {
    display: none !important;
    visibility: hidden;
}
.centerblock {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: var(--recenter);
    cursor: default;
    background-color: transparent;
}
.site-title {
    font-size: 3.0rem;
    text-transform: uppercase;
    letter-spacing: -0.05rem;
    white-space: nowrap;
}
.message {
    display: block;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-style: normal;
    width: 75vw;
    max-width: 600px;
    padding-top: 0.5rem;
    word-spacing: -0.08rem;
    text-align: center;
}
*[id*='-show'] {
    display: block;
    visibility: hidden;
    opacity: 0.0;
    left: 50%; top: 50%;
    transform: var(--recenter);
    border-radius: 0.4rem;
    max-width: calc(100vw - 6.0rem);
    height: fit-content;
    max-height: calc(100% - 10.0rem);
    min-height: 135px;
    position: fixed;
    transition: 0.3s all ease-in-out;
    background: rgba(0, 0, 0, 0.8);
    padding: 2.0rem;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 1vh 10vh 0px rgba(0,0,0,0.80);
}
*[id*='-show']:target {
    visibility: visible;
    opacity: 1.0;
    transition: 0.3s all ease-in-out;
    z-index: 100;
}
p {
    padding: 0;
    padding-bottom: 0.1rem;
    margin: 0;
    margin-bottom: 1.5rem;
}
.center {
    width: fit-content;
    max-width: calc(100vw - 10.0rem);
    margin: 0 auto;
    text-align: center;
}
s {
    text-decoration: none;
    background: linear-gradient(0deg, transparent 30%, currentColor 35%, currentColor 37%, transparent 42%);
}
.show-text {
    display: block;
    position: relative;
    width: calc(100vw - 10.0rem);
    max-width: 700px;
    text-align: left;
    transition: 0.2s all ease-in-out;
    text-align: left;
}

.show-text span {
    padding: 0.5rem 1.0rem;
    max-width: calc(1080px - 4.0rem);
    margin: auto;
    display: block;
    text-align: left;
    color: var(--secondary) !important;
    font-family: 'Fira Code', monospace;
    font-weight: 100;
    font-size: calc(0.8rem + 0.5vh);
    text-transform: initial !important;
    word-break: keep-all;
    border-left: 1.0rem solid rgba(48, 48, 48, 0.4);
}

/* Safari font weight renders too thick, so... */
_::-webkit-full-page-media,
_:future,
:root .show-text {
    font-weight: 200 !important;
}
.show-text a {
    color: #FFFFFF;
    text-decoration: none;
}
/* .show-bg {
    display: block;
    position: relative;
    top:-2.0rem; left:-2.0rem;
    width: calc(100% + 6.0rem);
    margin-bottom: -1.5rem;
    min-height: calc(10vh + 6rem);
    background-size: 100%;
    background-position: center;
    transition: 0.2s all ease-in-out;
    box-shadow: inset 0px -3.0rem 3.0rem rgba(0,0,0,0.4);
    background-repeat: no-repeat;
    background-color: var(--base);
}
.show-bg::after {
    content: "";
    padding: 0; margin :0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%; left: calc(50% - 1.0rem);
    transform: var(--recenter);
    transition: 0.2s all ease-in-out;
} */
.close {
    display: block;
    position: fixed;
    z-index: 9999;
    right: -0.1rem;
    top: -0.1rem;
    margin: 0;
    float: right;
    color: var(--secondary);
    text-decoration: none;
    padding: 0.4rem;
}
.close::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23FFFFFF'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
}
.close:hover {
}
u {
    font-style: normal;
    text-decoration: none;
    border-bottom: 1px solid var(--primary);
}
ul {
    padding: 0;
    margin-left: 2.0rem;
    margin-bottom: 1.0rem;
}
li {
    margin-bottom: 0.5rem;
    max-width: 600px;
}
li:before {
    content: "\2022";
    padding-right: 0.5rem;
}
.footer {
    display: block;
    width: 100vw;
    position: fixed;
    color: rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 0.6rem;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 0.5rem;
}
@media (max-width: 500px) {
    .centerblock {
        margin-top: -2.0rem;
        transition: 0.2s all ease-in-out;
    }
    .site-title {
        font-size: 2.0rem;
    }
    .show-text {
        font-size: 1.2rem;
        transition: 0.2s all ease-in-out;
        padding:0;
        border: 0;
    }
    h3 {
        font-size: 2.0rem;
    }
    /* .show-bg {
        min-height: calc(10rem);
    }
    .show-bg::after {
        transition: 0.2s all ease-in-out;
    } */
    *[id*='-show'] {
        min-height: 200px;
    }
    /* MOBILE NAVIGATION */
    .header {
        width: 100vw;
    }
    #hamburger {
        display: block !important;
        visibility: visible !important;
        opacity: 1.0;
    }
    #menu a,
    #menu a:active,
    #menu a:hover {
        display: block;
        background-color: rgba(0, 0, 0, 0.75);
    }
    #menu {
        display: block;
        visibility: visible;
        position: fixed;
        /* calc value adjusted to match number of menu items */
        top: calc(-9.5rem - 1px);
        right: 0;
        width: 100vw;
        transition: 0.3s all ease-in-out;
    }
    #menu:target {
        top: 0.0rem;
    }
    #menu:target #hamburger {
        visibility: hidden;
        opacity: 0.0;
    }
    #menu .close {
        display: block !important;
        visibility: visible !important;
        background-color: transparent !important;
    }
    *[id*='-show'] .close {
        visibility: hidden;
    }
}
@media (min-width: 1600px)
and (orientation: landscape) {
    .show-text {
        width: calc(100vw - 10.0rem);
        margin: 0vw 5vw;
        transition: 0.2s all ease-in-out;
    }
}
/* HIDE SCROLL BARS */
* {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display: none;
}
/* END */